apiVersion: 1

datasources:
  - name: Infinity
    type: yesoreyeram-infinity-datasource
    access: proxy
    uid: infinity
    isDefault: false
    editable: false
    jsonData:
      datasource_mode: basic
